---
import Title from "../components/Title.astro";
import LayoutPost from "../layouts/LayoutPost.astro";

import faqs from '../data/faqData' 
import FaqItem from "../components/FaqItem.astro";
---

<LayoutPost title="FAQ">
  <section>
    <Title title="Preguntas frecuentes"></Title>
    {faqs.map(faq => {
    return(
      <FaqItem item={faq}></FaqItem>
    )})}
  </section>
</LayoutPost>
